<div class="container position-relative">
  <div mat-dialog-close class="layer"></div>
  <button
    mat-icon-button
    mat-dialog-close
    class="d-flex justify-content-center align-items-center closeBtnDialog"
  >
    <mat-icon >close</mat-icon>
  </button>

  <div class="row content d-flex">
    <div class="col-4 img-part">
      <button mat-icon-button class="customLBtn">
        <mat-icon class="fs-1">bookmark_add</mat-icon>
      </button>
      <img
        *ngIf="api.poster_path"
        [src]="imgPrefex + api.poster_path"
        class="img-fluid imgSiz"
      />
    </div>
    <div class="col-8">
      <div class="row">
        <!-- ------- Title ------- -->
        <div class="col-12">
          <h2 class="fs-2" *ngIf="api.name">{{ api.name }}</h2>
          <h2 class="fs-2" *ngIf="api.title">{{ api.title }}</h2>
        </div>
        <!-- ------- Title ------- -->
        <!-- ---- Data &lung ----- -->
        <div class="col-12 mt-3 d-flex align-items-end">
          <mat-icon *ngIf="api.release_date" class="me-2">event</mat-icon>
          <span class="me-3 fs-6" *ngIf="api.release_date">
            {{ api.release_date }}
          </span>
          <mat-icon *ngIf="api.original_language" class="me-2"
            >language</mat-icon
          >
          <span class="me-3 fs-6" *ngIf="api.original_language">
            {{ api.original_language }}
          </span>
          <mat-icon *ngIf="api.media_type" class="me-2"
            >video_camera_front</mat-icon
          >
          <span class="me-3 fs-6" *ngIf="api.media_type">
            {{ api.media_type }}
          </span>
        </div>
        <!-- ---- Data &lung ----- -->
        <div class="col-12 mt-2 d-flex align-items-end">
          <mat-icon *ngIf="api.vote_count" class="me-2">how_to_reg</mat-icon>
          <span class="me-3 fs-6" *ngIf="api.vote_count">
            {{ api.vote_count }}
          </span>
          <mat-icon *ngIf="api.popularity" class="me-2">people</mat-icon>
          <span class="me-3 fs-6" *ngIf="api.popularity">
            {{ api.popularity }}
          </span>
          <mat-icon *ngIf="api.vote_average" class="text-yellow">star</mat-icon>
          <span *ngIf="api.vote_average" class="me-3 fs-5 text-light-black">
            {{ api.vote_average }}
          </span>
        </div>

        <span
          class="fs-3 mt-4 mb-2 text-light-black mt-4"
          *ngIf="api.original_title"
        >
          {{ api.original_title }}
        </span>
        <mat-divider class="mt-2"></mat-divider>
        <div class="col-12 mt-1">
          <button mat-raised-button color="primary" class="w-100 text-white">
            <mat-icon class="me-2">thumb_down</mat-icon> Not interested
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
