
.mat-dialog-container {
    position: relative;
    overflow: visible !important;
 
  margin: auto !important;
  padding: 20px 10px!important;
  max-height:auto !important ;

  .layer{
      position: absolute;
      cursor:default ;
     top: -100%;
     bottom: -100%;
     left: -100%;
     right: -100%;
      z-index: -999;
  }
  .closeBtnDialog{
      position: absolute;
      top: 0px;
      right:0;
      transform: translate(10px,-70px);
      z-index: 20 !important;
  }
  .content {
    .img-part {
      position: relative;
      .customLBtn {
        position: absolute;
        top: 0;
        left: 10px;
        width: 0px;
        background-color: transparent !important;
      }
    }
  }
  
}

// @include media-breakpoint-down(sm) { 
//   .mat-dialog-container{
//       width: 100% !important;
//           }
// }
// @include media-breakpoint-down(md) {
//     .mat-dialog-container{
//         width: 80% !important;
//             }
    
//   }
