.details{
    overflow: hidden !important;
    .imgSiz{
        max-height: 550px;
    }
    .img-part{
        position: relative;
.customLBtnDetails{
position: absolute;
top: -5px;
left: -5px;
}
    }
}